.search-container {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-title {
    margin-bottom: 10px;
    color: #662d91;
    text-align: center;
  }
  
  .search-box {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 500px;
    width: 90%;
  }
  
  .news-search-input {
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none; /* Prevents the icon from interfering with input */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .search-box {
      width: 100%;
    }
  
    .search-title {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .search-box {
      max-width: 100%;
    }
  
    .news-search-input,
    .search-icon {
      font-size: 14px;
      padding: 8px 35px 8px 8px;
    }
  }
  